
</main>


<!-- Footer -->

<footer id="footer" class="footer ph4 pv2">
  
  <div class="">
    <div class="row">
      <p>If you need informations on any of our products or are interested in distributing our products, feel free to send us a message, we would love to hear from you!</p>
    </div>
    
    <div class="row pv2 justify_center">
      <div class="col s1of3 dfr mh-auto">
        <a class="no-underline mh-auto dim" href="mailto:marketing@b-52.com.hk">Email Us: &nbsp; <i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
      <div class="col s1of3 dfr mh-auto">
        <a class="no-underline mh-auto dim" href="https://www.youtube.com/user/Mc5Menbags/videos?view_as=subscriber">Find us on Youtube:&nbsp; <i class="fa fa-youtube" aria-hidden="true"></i></a>
      </div>
      <div class="col s1of3 dfr mh-auto">
        <a class="no-underline mh-auto dim" href="https://www.instagram.com/swingroller/?hl=fr">Our Instagram:&nbsp; <i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  
  
  
</footer>
</div>
</body>
</html>
