<!-- Navigation -->

<body class="dfc container">
  <div class=" dfc">


  <header class="ph4 row dfc background_child">

  <nav class="">
    <div class="row mb-auto">
      <a href="{{ site.github.url }}" class="col s1of4 mr-auto"> <img src="../assets/logo.png" alt="" class="logo_small"> </a>
      <ul class="col s3of4   mv-auto ml-auto justify_right row">
        <li class="dib pr3"><a href="{{ site.github.url }}/home" class="no-underline">Home</a></li>
        <li class="dib pr3"><a href="{{ site.github.url }}/products" class="no-underline">Products</a></li>
        <li class="dib pr3"><a href="#footer" class="no-underline">Contact</a></li>
      </ul>
    </div>
    
  </nav>
  
  <div class=" mb-auto mt6_s mt5_m">
    <div class="xxl light ttu fw8 ma-auto tc">
      The innovative mobility

    </div>
  </div>
  
  </header>  
