/* Circle BG */



.circle-bg_pink {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  line-height: 160px;
  text-align: center;
  background-color: pink;
}



.circle-bg_orange {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  line-height: 160px;
  text-align: center;
  background-color: orange;
}



.circle-bg_green {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  line-height: 160px;
  text-align: center;
  background-color: green;
}
