/* Circle BG */



.circle-bg_pink {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  line-height: 160px;
  text-align: center;
  background-color: #E83168;
}



.circle-bg_blue {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  line-height: 160px;
  text-align: center;
  background-color: #3BAED1;
}



.circle-bg_green {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  line-height: 160px;
  text-align: center;
  background-color: #2EDB3F;
}
