
.linear_slow{-webkit-transition: 1s linear;transition:1s linear}
.linear_normal{-webkit-transition: 0.5s linear;transition: 0.5s linear}
.linear_fast{-webkit-transition: 0.2s linear;transition: 0.2s linear}
